@use "@styles/color";

.top_menu {
	height: 8vh;
	width: 100%;
	display: flex;
	position: fixed;
	background-color: color.$primary-dark;
	align-items: center;

	button {
		background-color: transparent;
		border: 0;
	}

	.dateContainer {
		height: auto;
		display: flex;
		flex: 1;
		justify-content: center;
	}
}