@import url('../assets/color_palette.css');

section.unassigned {
    height: auto;
    width: 100%;
    background-color: var(--green);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
}

section.unassigned div {
    height: 100%;
    width: auto;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}

section.unassigned button {
    padding: 0rem 1rem;
    border-radius: 3px;
    background-color: var(--light-gray);
    color: var(--primary-dark);
}

