@use "@styles/color";
@use "@styles/space";

.unassigned {
    height: auto;
    width: auto;
    background-color: color.$green;
    border-radius: space.$s2;
    box-sizing: border-box;
    margin: 1rem;
    margin-bottom: 0rem;
    padding: 1rem;
    display: flex;

    div {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
    }

    button {
        padding: 0rem 1rem;
        border-radius: 3px;
        background-color: color.$light-gray;
        color: color.$primary-dark;
    }
    
}

